@use "variables";

.SquareButton {
  width: 118px;
  height: 68px;
  background: #e0e0e0;
  border: none;
  box-shadow: -5px 5px 10px #bebebe, 5px -5px 10px variables.$white;
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 0.5rem auto;
  color: #636661;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    color: #ccc;
    box-shadow: -5px 5px 10px #bebebe, 5px -5px 10px #eee;
  }
}
