@use "variables";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include variables.mq(sm) {
    margin: 0 1rem;
  }
}

.main {
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 20px;
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  box-shadow: -20px 20px 40px #d3d3d3, 20px -20px 40px #ededed;

  > h1 {
    color: #636661;
    font-weight: 300;
  }
}

.Settings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  &Track {
    margin-right: 20px;
    flex: 1;

    &Display {
      color: #636661;
      border-radius: 20px;
      background: #e0e0e0;
      box-shadow: inset -5px 5px 10px #bebebe,
        inset 5px -5px 10px variables.$white;
      height: 110px;

      > dl {
        display: inline-flex;

        > dt {
          margin-left: 1rem;
          width: 20px;
        }

        > dd {
          margin: 0;

          > div:first-of-type {
            display: inline;
            background: #fff;
            font-weight: bold;
            padding: 0 8px;
            border-radius: 8px;
          }

          > div:not(:first-of-type) {
            font-size: 0.8rem;
          }
        }
      }
    }

    &ButtonArea {
      margin-top: 0.5rem;
    }
  }

  &Bpm {
    display: grid;
    margin: 0 0.8rem 0 2rem;
  }
}

.Controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  > div {
    margin: 1rem;
  }

  .Func {
    flex: auto;
  }
}

.Pads {
  display: flex;

  &Wrapper {
    margin-top: 1rem;
    display: inline-block;
  }
}
